

@media (min-width: 800px) {
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    #voting-app {
        margin: 20px auto;
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #options li {
        margin: 10px 0;
    }

    button {
        display: block;
        margin: 10px auto;
    }

    #result {
        /*display: none;*/
    }

    #result p {
        margin: 5px 0;
    }
}

/* 适用于较小屏幕的样式 */
/* 例如，在屏幕宽度小于800px时应用以下样式 */
@media (max-width: 800px) {
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    #voting-app {
        margin: 20px auto;
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #options li {
        margin: 10px 0;
    }

    button {
        display: block;
        margin: 10px auto;
    }

    #result {
        /*display: none;*/
    }

    #result p {
        margin: 5px 0;
    }
}
